<h2>UVA Course Details</h2>
<table>
	<tr>
		<td align="right">Name:</td>
      	<td align="left"><input type="text" name="name" placeholder="Introduction to Programming" /></td>
    </tr>
    <tr>
      	<td align="right">Number:</td>
      	<td align="left"><input type="text" name="number" placeholder="1110" /></td>
    </tr>
   	<tr>
  		<td align="right">Department/Subject:</td>
     	<td align="left"><input type="text" name="department" placeholder="CS" /></td>
   	</tr>
</table>

<h2>Outside Institution Course Details</h2>
<table>
    <tr>
      	<td align="right">Institution:</td>
      	<td align="left"><input type="text" name="institution" placeholder="United States Naval Academy" /></td>
    </tr>
    <tr>
      	<td align="right">Name:</td>
      	<td align="left"><input type="text" name="name" placeholder="Intro to Comp Sci" /></td>
    </tr>
    <tr>
      	<td align="right">Number:</td>
      	<td align="left"><input type="text" name="number" placeholder="204" /></td>
    </tr>
   	<tr>
  		<td align="right">Department/Subject:</td>
     	<td align="left"><input type="text" name="department" placeholder="SI" /></td>
   	</tr>  	
</table>

<br>
<br>

<p>
	<input type="submit" value="Add Course">
</p>

