<h2>UVA Course Details</h2>
<table>
	<tr>
		<td align="right">Name:</td>
      	<td align="left"><input type="text" name="name" /></td>
    </tr>
    <tr>
      	<td align="right">Number:</td>
      	<td align="left"><input type="text" name="number" /></td>
    </tr>
   	<tr>
  		<td align="right">Department:</td>
     	<td align="left"><input type="text" name="department"/></td>
   	</tr>
</table>

<h2>Outside Institution Course Details</h2>
<table>
    <tr>
      	<td align="right">Institution:</td>
      	<td align="left"><input type="text" name="institution" /></td>
    </tr>
    <tr>
      	<td align="right">Name:</td>
      	<td align="left"><input type="text" name="name" /></td>
    </tr>
    <tr>
      	<td align="right">Number:</td>
      	<td align="left"><input type="text" name="number" /></td>
    </tr>
   	<tr>
  		<td align="right">Department:</td>
     	<td align="left"><input type="text" name="department"/></td>
   	</tr>  	
</table>

<br>
<br>

<p>
	<input type="submit" value="Add Course">
</p>

