<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>

<style>
    nav {
    background-color: #232D4B;
    height: 50px;
    overflow: clip;
}

nav ul{

}

nav ul li{
    list-style-type: none;
    width: 150px;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
}

li a {
    text-decoration: none;
    color:#EB5F0C;
    line-height: 50px;
}

li a:hover {
    background-color: #E57200;
    color: #141E3C;

}

li name {
    text-decoration: none;
    color:#EB5F0C;
    line-height: 50px;
}

.container {
    top: 140px;
    float: left;
    left: 9px;
    right: 0;
    {#bottom: 0;#}
    display: flex;
    align-items: flex-start;
    justify-content: left;
    {#height: 100vh; /* sets height to full viewport height */#}
    width: 100%;
}

</style>
<body>
{% load socialaccount %}
<nav>
    <ul>
     <li><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{% url 'allCourses' %}">All Courses</a></li>
     <li><a href="{% url 'search_results' %}">Course Search</a></li>
        {% if user.is_authenticated %}
        <li><name>Welcome {{ user.username }}!</name></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {%  else %}
            <li><a href="{% provider_login_url 'google'%}?next=/">Login with Google</a></li>
        {% endif %}
    </ul>
</nav>





{#<div class="container">#}
{#<form action="{% url 'course_filter' %}">#}
{#    <table style="justify-content: left; overflow: unset">#}
{#        {% for subject in filtered_courses.allSubjects %}#}
{#            <td><input id="{{ subject.courseSubject }}" type="checkbox" value="{{ subject.courseSubject }}" name="subject"></td>#}
{#            <td><label for="{{ subject.courseSubject }}">{{ subject.courseSubject }}</label></td>#}
{#        {% endfor %}#}
{#        <tr>#}
{#            <td><input id="1000" type="checkbox" value="1" name="number"></td>#}
{#            <td><label for="1000">1000</label></td>#}
{#            <td><input id="2000" type="checkbox" value="2" name="number"></td>#}
{#            <td><label for="2000">2000</label></td>#}
{#            <td><input id="3000" type="checkbox" value="3" name="number"></td>#}
{#            <td><label for="3000">3000</label></td>#}
{#            <td><input id="4000" type="checkbox" value="4" name="number"></td>#}
{#            <td><label for="4000">4000</label></td>#}
{#            <td><input id="5000" type="checkbox" value="5" name="number"></td>#}
{#            <td><label for="5000">5000</label></td>#}
{#            <td><input id="6000" type="checkbox" value="6" name="number"></td>#}
{#            <td><label for="6000">6000</label></td>#}
{#            <td><input id="7000" type="checkbox" value="7" name="number"></td>#}
{#            <td><label for="7000">7000</label></td>#}
{#            <td><input id="8000" type="checkbox" value="8" name="number"></td>#}
{#            <td><label for="8000">8000</label></td>#}
{#            <td><input id="9000" type="checkbox" value="9" name="number"></td>#}
{#            <td><label for="9000">9000</label></td>#}
{#        </tr>#}
{#        <td><input type="submit" value="Submit"></td>#}
{#        <td><button href="{% url 'course_filter' %}">Clear Results</button></td>#}
{#    </table>#}
{#</form>#}
{#</div>#}

{#    </details>#}
{#    <details>#}
{#        <summary>#}
{#            Number#}
{#        </summary>#}
{#    </details>#}
{#</details>#}




    <!-- Ignite UI for jQuery Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2022.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2022.2/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI for jQuery Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2022.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2022.2/latest/js/infragistics.lob.js"></script>

    <style>
        .combo-label {margin-bottom:.5em;}
    </style>
    <br />
    <div class=".ui-widget-overlay"></div>

    <div id="checkboxSelectCombo">
{#        <script>#}
{##}
{#        var subjects = JSON.parse('{{ filtered_courses.json }}'.replace(/&quot;/g,'"'));#}
{##}
{##}
{#        $(function () {#}
{#        $("#checkboxSelectCombo").igCombo({#}
{#            width: 300,#}
{#            dataSource: subjects,#}
{#            textKey: "Name",#}
{#            valueKey: "Name",#}
{#            multiSelection: {#}
{#                enabled: true,#}
{#                showCheckboxes: true#}
{#            },#}
{#            dropDownOrientation: "bottom"#}
{#        });#}
{##}
{##}
{#        $("#submitBtn").click(function() {#}
{#            var selectedValues = $("#checkboxSelectCombo").igCombo("value");#}
{#            var cur_url = window.location.href;#}
{#            var index = cur_url.indexOf('?');#}
{#            if (index > -1){#}
{#                cur_url = cur_url.substring(0,index);#}
{#            }#}
{#            window.location.href = cur_url + "?subject=" + selectedValues;#}
{#        });#}
{#    });#}
{#        </script>#}

        <script>
    var subjects = JSON.parse('{{ filtered_courses.json }}'.replace(/&quot;/g,'"'));

    $(function () {
        // Set up the combo box for selecting subjects
        $("#checkboxSelectCombo").igCombo({
            width: 300,
            dataSource: subjects,
            textKey: "Name",
            valueKey: "Name",
            multiSelection: {
                enabled: true,
                showCheckboxes: true
            },
            dropDownOrientation: "bottom"
        });

        // Set up the slider for choosing a number
        $("#numberSlider").slider({
            range: "min",
            min: 1,
            max: 9,
            value: 1,
            slide: function (event, ui) {
                $("#numberInput").val(ui.value * 1000);
            },
            create: function(event, ui) {
            $(this).find('.ui-slider-handle').css({
            height: '15px',
            'margin-left': '-5px',
            'margin-top': '1px'
        });
    }
        });
        $("#numberInput").val($("#numberSlider").slider("value") * 1000);

        // Handle the submit button click event
        $("#submitBtn").click(function() {
            var selectedValues = $("#checkboxSelectCombo").igCombo("value");
            var numberValue = $("#numberSlider").slider("value");
            var cur_url = window.location.href;
            var index = cur_url.indexOf('?');
            if (index > -1){
                cur_url = cur_url.substring(0,index);
            }
            window.location.href = cur_url + "?subject=" + selectedValues + "&number=" + numberValue;
        });
    });
</script>

<div>
    <label for="numberInput">Number:</label>
    <input type="text" id="numberInput" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <br>
    <br>
</div>
<div id="numberSlider"></div>
        <h4 class="combo-label">Select subject(s)</h4>
    </div>
<br>
<button id="submitBtn" type="submit" value="Submit">Submit</button>
<button><a href="{% url 'course_filter' %}" style="color: #000000; text-decoration: none;">Clear Filters</a></button>


<br>
    {% if filtered_courses > 0 %}
        <h1>Search Results</h1>
    {% endif %}
    {% if filtered_courses %}
    <table>
        <tbody>
        {% for subject in filtered_courses.filteredSubjects %}
        <tr>
        <td>
        <details>
          <summary style="text-align:left">
            {{ subject.courseSubject }}
          </summary>
        <table>
        <thead>
        <tr>
            <th>Subject</th>
            <th>Number</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
        </thead>
            {% for course in filtered_courses.courses %}
                {% if course.courseSubject == subject.courseSubject %}
                    <tr>
                        <td>{{ course.courseSubject }}</td>
                        <td>{{ course.courseNumber }}</td>
                        <td style="text-align: left">{{ course.courseName }}</td>
                        <td><a href={% url 'course_info' %}?subject={{ course.courseSubject }}&number={{ course.courseNumber }}&name={{ course.courseName | slugify }} >Info</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </details>
        </td>

        </tr>
        {% endfor %}
        <tr>
        </tbody>
        {% else %}
        <h2>No courses are available.</h2>
        {% endif %}
    </table>


</body>
</html>