{% load socialaccount %}
{% block content %}
{% if user.is_authenticated %}
    {% if user.is_superuser %}
          <p>Logged in as {{ user.username }} (admin)</p>
    {%  else %}
        <p>Logged in as {{ user.username }} (student</p>
    {% endif %}
        <p>You are not logged in</p>
        <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </button>
    {%  endif %}
{% endblock content %}
