{% load socialaccount %}

<style>
nav {
    background-color: #232D4B;
    height: 50px;
    overflow: clip;
}

nav ul{

}

nav ul li{
    list-style-type: none;
    width: 150px;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
}

li a {
    text-decoration: none;
    color:#EB5F0C;
    line-height: 50px;
}

li a:hover {
    background-color: #E57200;
    color: #141E3C;

}

li name {
    text-decoration: none;
    color:#EB5F0C;
    line-height: 50px;
}


</style>

<nav>
    <ul>
     <li><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{% url 'allCourses' %}">All Courses</a></li>
     <li><a href="{% url 'search_results' %}">Course Search</a></li>
     <li><a href="{% url 'student_request' %}">Request center</a></li>
     <li><a href="{% url 'boxMail' %}">Mail Box</a></li>
        {% if user.is_authenticated %}
        <li><name>Welcome {{ user.username }}!</name></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {%  else %}
            <li><a href="{% provider_login_url 'google'%}?next=/">Login with Google</a></li>
        {% endif %}
    </ul>
</nav>
    {% if user.is_superuser %}
        <h2>Emails from students:</h2>
        {%for request in requests%}
                <p></p>
                <li>Email From: {{request.studentName}}, {{request.studentEmail}}</li>
                <li>Email Title: {{request.title}}</li>
                <li>Email content: {{request.content}}</li>
        {% endfor %}
    {%  else %}
        <br> <a href = "{%url 'sendEmail'%}">Send Email to Admin</a> <br />
        <br><br />
        {%for auto in Autos%}
            {% if auto.studentEmail == user.email %}
                <p></p>
                <li>Email From: Admin</li>
                <li>Email Title: {{auto.title}}</li>
                <li>Email content: {{auto.content}}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
