<SCRIPT TYPE="text/javascript"> 
    function popup(mylink, windowname) 
    { 
        if (! window.focus)return true; 
        var href; 
        if (typeof(mylink) == 'string') href=mylink; 
        else href=mylink.href; 
        window.location.href = href;
        
        return false; 
    } 
</SCRIPT>

<!DOCTYPE html>
<html lang="en">


<style>
nav {
    background-color: #232D4B;
    height: 50px;
    overflow: clip;
}

nav ul{

}

nav ul li{
    list-style-type: none;
    width: 150px;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
}

li a {
    text-decoration: none;
    color:#EB5F0C;
    line-height: 50px;
}

li a:hover {
    background-color: #E57200;
    color: #141E3C;

}

li name {
    text-decoration: none;
    color:#EB5F0C;
    line-height: 50px;
}


</style>

<nav>
    <ul>
     <li><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{% url 'allCourses' %}">All Courses</a></li>
     <li><a href="{% url 'search_results' %}">Course Search</a></li>
    </ul>
</nav>

{% if user.is_superuser %}
<header>
    <h1>Updating classes from SIS, this may take a while</h1>
</header>
<BODY onLoad="popup('/sisUpdate/{{param}}', 'notes')">
    <label for="file">Updating Progress: {{percent}}%</label>
    <progress id="file" value="{{percent}}" max="100"> {{percent}}% </progress>
</BODY>
{% else %}
        <script>
        window.onload = function() {
            setTimeout(function() {
                window.location.href = '/';
            }, 1); // Redirects after 1 millisecond
        };
    </script>
    {% endif %}